<div class="avatar text-center">
    <img src="{{ .Site.Params.ava }}" alt="rose" class="img-ava"/>
</div>
<div class="px-3 text-center">
    <h3>Hi! I'm Felix </h3>
    <p>I'm a PhD candidate at Northwestern University</p>
    </div>
    
<p>My research is motivated by two broad questions: (1) why and how people regulate their own and others' emotions, and (2) what are the consequences of emotion regulation at the individual, interpersonal, and societal levels.</p>
<p>I use a variety of methods to address my research questions, spanning across traditional quantitative tools (e.g., survey experiment, daily dairy, structural equational modeling, etc.) to computational approaches (e.g., text analysis, network analysis, etc.). I value both data-driven insights and theory-guided explanations.</p>
<p>I work with both <a href="https://williamjbrady.com/">Billy Brady</a> and <a href="https://sesp.northwestern.edu/people/faculty/claudia-haase.html">Claudia Haase</a>  in Northwestern University</p>
<!-- <p>I am looking for a postdoc position to start in 2026!</p> -->
