<header class="mb-auto">
    <div>
      <h1 class="float-md-start justify-content-center "><a class="head-rose" href="/">Felix (Chen-Wei) Yu</a></h1>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link text-white" href="/about">About</a>
        <a class="nav-link text-white" href="https://docs.google.com/document/d/1VnBmmzXHpMbDvklKy4ehcGLGOw1QGrut/edit?usp=sharing&ouid=116007730768020152451&rtpof=true&sd=true"target="_blank">CV</a>
        <a class="nav-link text-white" href="/blog/publication/publication/">Publication</a>
        <a class="nav-link text-white" href="/blog/useful-code/useful-code/">Useful Code</a>
        <a class="nav-link text-white" href="/blog/thoughts/thoughts-index/">Thoughts</a>
      </nav>
    </div>
</header>

